:root {
  --icons: hsl(235.1,68.5%,61.4%);
  --tags: hsl(235.1,68.5%,61.4%);
  --primary-btn: hsl(235.1,68.5%,61.4%);
  --primary-btn-h: hsl(235, 82%, 77%);
  --primary-btn-text: hsl(0, 100%, 100%);

  /* Breakpoints */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
}

.light {
  --bg: hsl(210, 22%, 96%);
  --elements-bg: hsl(0, 0%, 100%);

  --placeholder: hsla(219, 29%, 14%, 0.5);
  --input-text: hsl(219, 29%, 14%);
  --text: hsl(214, 17%, 51%);
  --h3-color: hsla(219, 29%, 14%);
  --checkbox: hsla(219, 29%, 14%, 0.1);

  --secondary-btn: hsla(235.1,68.5%,61.4%,0.1);
  --secondary-btn-h: hsla(235.1,68.5%,61.4%,0.35);
  --secondary-btn-text: hsl(235.1,68.5%,61.4%);
}

.dark {
  --bg: hsl(220, 29%, 10%); 
  --elements-bg: hsl(219, 29%, 14%);

  --placeholder: hsla(0, 0%, 100%, .5);
  --input-text: hsl(0, 100%, 100%);
  --text: hsl(212, 23%, 69%);
  --h3-color: hsl(0, 100%, 100%);
  --checkbox: hsla(0, 100%, 100%, 0.1);

  --secondary-btn: hsla(0, 0%, 100%, 0.1);
  --secondary-btn-h: hsla(0, 0%, 100%, 0.35);
  --secondary-btn-text: hsl(235.1,68.5%,61.4%);
}

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

li {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

input {
  font-size: 1.6rem;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

a {
  color: white;
  word-wrap: break-word;
}
